.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: lightpink;
    color: black;
  }
  
  .name {
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .nav {
    display: flex;
    font-size: 1.5rem;
  }
  
  nav a {
    margin-left: 1rem;
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
  }