.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
    background-color: white;
    color: black;
    padding: 1rem;
  }

  ul {
    display: flex;
    list-style-type: none;
  }

  li {
    margin-left: 15px;
  }